@import "tailwindcss";

@theme {
  --color-vipNavy: #1B263B;
  --color-vipGoldDark: #BFA37E;
  --color-vipGoldLight: #E0E1DD;
  --color-vipPlatinum: #FFFFFF;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    direction: rtl;
    /* For Arabic UI */
    @apply font-sans antialiased bg-slate-50 text-vipNavy;
  }
}